{% extends "app/base_site.html" %}


{% block title %}  {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> Escoge tus invernaderos </h3>
        </div>


      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Selecciona un invernadero para acceder al sistema<small>  </small></h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if listaInvernaderos|length == 0 %} <center><h2>Ningún invernadero asociado a este usuario.</h2></center>{% endif %}
              <center><div id="mapid" style="height:180px;width:180px"></div></center>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
<script>
	map = new L.Map('mapid', {closePopupOnClick: false, dragging: false, zoomControl: false, boxZoom: false, doubleClickZoom: false, touchZoom:false, scrollWheelZoom: false});
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {maxZoom: 17, attribution: osmAttrib});
	map.setView(new L.LatLng(-12.069444, -77.079444),12); //-12.416667, -76.783333
	map.addLayer(osm);
    var marker = L.marker([-12.069444, -77.079444]).addTo(map);
    var popup = marker.bindPopup("<b>Invernadero PUCP</b>");
    popup.openPopup();
    map.on('click', function(e) {
        alert(e);
    });
    //map.on('click', function(e) {
    //    marker.setLatLng(e.latlng);
    //    popup.openPopup();
    //});
</script>
{% endblock javascripts %}