{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Módulos de Semillas</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Datos del Módulo de Semillas<small></small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

			  <center><img src="/static/images/modulo.jpg" class="img-responsive" width="200dp"  alt="Cinque Terre"></center>
	<br>
				<div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Dimensiones:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>5 alto x 6 ancho</p></div>
                </div>
				<div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Cantidad de Semillas:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>22 / 30</p></div>
                </div>
                <div class="ln_solid"></div> 
				<div class="x_title">
              <h2>Condiciones al 05/05/2018 19:55<small></small></h2>
              
              <div class="clearfix"></div>
			  
            </div>
			
			<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Temperatura:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>28 °C</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Humedad del Suelo:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>66%</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Humedad del Ambiente:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>57%</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Nivel del Agua:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>0.2 m</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Luz:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>Encendida</p></div>
                </div>
			<div class="ln_solid"></div>
 
              </form>
			<div class="x_title">
              <h2>Condiciones Ideales<small></small></h2>
              
              <div class="clearfix"></div>
			  
            </div>
			
			<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
			<h4 style="text-indent: 4em;">Temperatura:</h4>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ideal:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="25">
					<div class="input-group-addon">°C</div>
					</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Máxima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="35">
					<div class="input-group-addon">°C</div>
					</div>
                  </div>
                </div>
				<div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Mínima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="20">
					<div class="input-group-addon">°C</div>
					</div>
                  </div>
                </div>
			<div class="ln_solid"></div>
			<h4 style="text-indent: 4em;">Humedad de la Tierra:</h4>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ideal:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="70">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Máxima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="75">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
				<div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Mínima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="60">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
			<div class="ln_solid"></div>
			<h4 style="text-indent: 4em;">Humedad del Ambiente:</h4>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ideal:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="55">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Máxima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="65">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
				<div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Mínima:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="50">
					<div class="input-group-addon">%</div>
					</div>
                  </div>
                </div>
				<div class="ln_solid"></div>
			<h4 style="text-indent: 4em;">Nivel del Agua:</h4>
                 <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ideal:</label>
                  <div class="col-md-2 col-sm-6 col-xs-12"style="width: 12.499999995%">
				  <div class="input-group">
                    <input type="text" id="first-name" class="form-control col-md-7 col-xs-12" placeholder="0.25">
					<div class="input-group-addon">m</div>
					</div>
                  </div>
                </div>
				<div class="ln_solid"></div>
			<h4 style="text-indent: 4em;">Iluminación:</h4>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Encendida</label>
					&emsp;&emsp;
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Apagada </label>
				</div>
			<div class="ln_solid"></div>
 
              </form>
			

                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Aceptar</button>
                    <button class="btn btn-primary" type="button">Cancelar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
