{% extends "app/base_site.html" %}


{% block title %} Seleccionar Invernadero {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block sidebar %}
{% endblock sidebar %}
{% block top_navigation %}
<div class="top_nav"  style="margin-left:0px;">
  {% include "app/top_navigationSinMenu.html" %}
</div>
{% endblock top_navigation %}
{% block footer %}
<footer style="margin-left:0px;">
<div class="pull-right" >
  Todos los derechos reservados © GreenHome
</div>
<div class="clearfix"></div>
</footer>
{% endblock footer %}

{% block content %}
  <div class="right_col" style="margin-left: 0px" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> Seleccionar Invernadero </h3>
        </div>


      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Seleccione el invernadero que desea administrar<small>  </small></h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% if listaInvernaderos|length == 0 %} <center><h2>Ningún invernadero asociado a este usuario.</h2></center> {% else %}
                <center><div id="mapid" style="height:540px; width:90%;"></div></center>
              
              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% if listaInvernaderos|length != 0 %}
<script>
    map = new L.Map('mapid');
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {maxZoom: 17, attribution: osmAttrib});
	map.addLayer(osm);
    var markers = []
    var loopindex = 0;
    {% for invernadero in listaInvernaderos %}
        markers.push(L.marker([{{invernadero.latitud}}, {{invernadero.longitud}}]).addTo(map));
        markers[loopindex].bindPopup("<a href ='{% url 'index' idInvernadero=invernadero.idinvernadero %}'>{{invernadero.nombre}}</a>");
        loopindex++;
    {% endfor %}
    var group = L.featureGroup(markers);
    map.fitBounds(group.getBounds());
    map.zoomOut();
</script>
{% endif %}
{% endblock javascripts %}
