{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Plantas</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Datos de la Planta<small></small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

			  <center><img src="/static/images/bijao.jpg" class="img-responsive" width="200dp"  alt="Cinque Terre"></center>
	<br>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Tipo de Planta:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>Bijao (Calathea lutea)</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Zona:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>Zona A</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Fecha de Ingreso:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>20/04/2018</p></div>
                </div>
                <div class="ln_solid"></div>
			<div class="x_title">
              <h2>Condiciones al 05/05/2018 19:55<small></small></h2>
              
              <div class="clearfix"></div>
			  
            </div>
			
			<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Altura:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>0.8 m</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>PH:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>6</p></div>
                </div>
			<div class="ln_solid"></div>
 
              </form>
			
			<div class="x_title">
              <h2>Condiciones de la Zona al 05/05/2018 19:45<small></small></h2>
              
              <div class="clearfix"></div>
			  
            </div>
			
			<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Temperatura:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>29 °C</p></div>
                </div>
                <div class="form-group">
                  <div class="col-md-3 col-sm-3 col-xs-12"><span class="pull-right"><p><b>Humedad:</b></p></span></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"><p>55%</p></div>
                </div>
			<div class="ln_solid"></div>
 
              </form>
			
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Regresar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
