{% extends "app/base_site.html" %}


{% block title %} Lista{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
 <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Plantas</h3>
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2>Búsqueda de Plantas<small></small></h2>
                   <div class="clearfix"></div>


            </div>


            <form id="idFormBuscar" class="form-horizontal form-label-left"  method="GET" novalidate>
                {% csrf_token %}

                <div class="title_right">
                  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                      <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" placeholder="Buscar...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="b_buscar" name="b_buscar" type="submit" ><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>

                    <div class="col-md-5 col-sm-5 col-xs-12 form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Zona</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id = "comboZona" class="form-control" name="comboZona" >
                          <option value="-1" {% if -1 == idseleccionado %} selected {% endif %} >- Todas las zonas -</option>
                          {% for zona in listaZonas %}
                          <option value="{{zona.idzona}}" {% if zona.idzona == idseleccionado %} selected {% endif %}>{{zona.nombre}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-md-12">
                  <div class="x_panel">

                    <div class="x_title">
                        <h2>Lista de plantas</h2>
                        <form class="form-horizontal form-label-left"  method="POST" novalidate>
                        {% csrf_token %}
                            <button id="b_crear" name="b_crear" type="submit" class="btn btn-success" style="float:right">Crear Planta</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                      <div class="row" style="width:100%; max-width:800px; margin:0 auto; float: left">
                        {% load app_filters %}
                        {% for planta in listaPlantas%}
                        <div class="col-md-3" style="display: inline-block; height: 180px; width: 180px; margin:10px;">
                          <div class="thumbnail" {% if planta.condicionesshidas != None %} {% if planta.condicionesshidas %} style="border-color: green;" {% else %} style="border-color: red;" {% endif %} {% endif %} >
                            <a href="{% url 'plantaDetalle' idPlanta=planta.idplanta %}">
                            <div class="image view view-first">
                                <img style="height: 100%; width: 100%; display: block;" src="/static/fotos_tipo_planta/{{listaFotos|getFoto:planta.idtipoplanta}}" alt="image" />
                              <div class="mask">
                                <p>
                                    {{planta.codigoplantajson}}
                                </p>
                              </div>
                            </div>
                            </a>
                            <div class="caption">
                              <a href="{% url 'plantaDetalle' idPlanta=planta.idplanta %}"><center><h2>
                                  {% for tipoPlanta in listaTipoPlantas %}
                                    {% if tipoPlanta.idtipoplanta == planta.idtipoplanta %} {{tipoPlanta.nombrecomun}} {% endif %}
                                  {% endfor %}</h2></center></a>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    {% if mensajeCreacion %}
        <script>
            new PNotify({
                                title: 'Creación Exitosa',
                                text: "Se creó la planta correctamente.",
                                type: 'success',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}

    {% if mensajeEliminacion %}
        <script>
            new PNotify({
                                title: 'Eliminación Exitosa',
                                text: "Se eliminó la planta correctamente.",
                                type: 'success',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}
    {% if mensajePlantaCrearEditarError %}
        <script>
            new PNotify({
                                title: 'Error',
                                text: "En este momento no se puede acceder o crear una planta.",
                                type: 'error',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}
    {% if mensajeObtenerZonaError %}
        <script>
            new PNotify({
                                title: 'Error al obtener las plantas',
                                text: "Ocurrió un problema al obtener las zonas de las plantas.",
                                type: 'error',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}

    <script>
        $("#comboZona").on('change', function (e) {
              document.getElementById("textoBusqueda").value='' ;
              document.getElementById("idFormBuscar").submit();
        });
    </script>

{% endblock javascripts %}