{% extends "app/base_site.html" %}
{% block title %} Estadisticas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Estadisticas</h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Invernadero</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <h4>Consumo de Energía</h4>
                  <div class="form-group">
                    <label for="sel1">Periodo:</label>
                    <select class="form-control col-xs-6" id="sel1" onchange="updateLineChart()">
                      <option value=5>Ultimas 5 mediciones</option>
                      <option value=10>Ultimas 10 mediciones</option>
                    </select>
                  </div>
                  <canvas id='energyLineChart'></canvas>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <h4>Nivel del tanque de agua</h4>
                  <div class="form-group">
                    <label for="sel2">Periodo:</label>
                    <select class="form-control" id="sel2" onchange="updateBarChart()">
                      <option value=5>Ultimas 5 mediciones</option>
                      <option value=10>Ultimas 10 mediciones</option>
                    </select>
                  </div>
                  <canvas id='waterBarChart'></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row"> 
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Componentes</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="form-group">
                    <label for="zona">Zona:</label>
                    <select class="form-control" id="zona" onchange="changeZone()">
                      {% for zone in zones %}
                      <option value="{{zone.idzona}}">{{zone.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: none;" id="divComboModules">
                  <div class="form-group">
                    <label for="modulo">Modulo:</label>
                    <select class="form-control" id="comboModule" onchange="changeModule()">
                    </select>
                  </div>
                </div>  
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: none;" id="divComboPlants">
                  <div class="form-group">
                    <label for="planta">Planta:</label>
                    <select class="form-control" id="comboPlant" onchange="changePlant()">
                    </select>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="display: none;">
                  <div class="form-group">
                    <label for="condicion">Condición:</label>
                    <select class="form-control" id="condicion" onchange="">
                    </select>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row" id="zoneCharts" style="display: none;">
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Temperatura</h4>
                  <canvas id='zoneTempLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="temp" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>pH</h4>
                  <canvas id='zonePHLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <center>
                  <button type="button" class="btn btn-primary" value="ph" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>CO2</h4>
                  <canvas id='zoneCO2LineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="co2" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                  </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
              </div>
              <div class="row" id="moduleCharts" style="display: none;">
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Temperatura</h4>
                  <canvas id='moduleTempLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="temp" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Humedad - Tierra</h4>
                  <canvas id='moduleGroundHumidityLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="hum_tie" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                  </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Humedad - Ambiente</h4>
                  <canvas id='moduleEnvHumidityLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="hum_amb" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                  </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Nivel de Agua</h4>
                  <canvas id='moduleWaterBarChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="agua" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Concentracion CO2</h4>
                  <canvas id='moduleCO2BarChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="co2" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
              </div>
              <div class="row" id="plantCharts" style="display: none;">
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <h4>Humedad - Ambiente</h4>
                  <canvas id='plantEnvHumidityLineChart'></canvas>
                </div>
                <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                  <center>
                  <button type="button" class="btn btn-primary" value="hum_amb" onclick="checkDetailedStats(this.value)">Ver todos los registros</button>
                  </center>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <script src="/static/build/js/estadisticas.js"></script>
  <script type="text/javascript">
    var None = null //Hermoso xd
    var labels = {{labels|safe}}
    var fechasstr = {{fechasstr|safe}}
    var energy_data = {{energy|safe}}
    var water_data = {{water|safe}}
    var energyLineChart
    var waterBarChart
    var limiteMax = 10
    var limiteMin = 5
    
    var fechas = []
    for (let j = 0; j < fechasstr.length; j++) {
        let parts = fechasstr[j].split('/');
        fechas.push(new Date(parts[0], parts[1]-1, parts[2], parts[3], parts[4], parts[5]))
    }
    
    if (labels.length < 10) {
        limiteMax = labels.length
        if (labels.length < 5) {
            limiteMin = labels.length
        }
    }

    var more_stats_url = "{% url 'estadisticas-detalle' %}"

    var energy_data_chart = {
      labels: labels.slice(limiteMax - limiteMin, limiteMax),
      datasets: [
        {
          label: "Consumo de energía",
          backgroundColor: "rgba(38, 185, 154, 0.31)",
          borderColor: "rgba(38, 185, 154, 0.7)",
          pointBorderColor: "rgba(38, 185, 154, 0.7)",
          pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointBorderWidth: 1,
          lineTension: 0,
          data: energy_data.slice(limiteMax - limiteMin, limiteMax)
        }
      ]
    }

    var water_data_chart = {
      labels: labels.slice(limiteMax - limiteMin, limiteMax),
      datasets: [
        {
          label: "Nivel del tanque de agua",
          backgroundColor: "rgba(115, 135, 156, 0.8)",
          pointBorderWidth: 1,
          data: water_data.slice(limiteMax - limiteMin, limiteMax)
        }
      ]
    }

    function setLineChart(data){
      var ctx = document.getElementById("energyLineChart")
      energyLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: {
          scales: {
            yAxes: [{
              ticks: { 
                beginAtZero: true
              }
            }]
          },
          animation: false
        }
      });
    }

    function setBarChart(data){
      var ctx = document.getElementById("waterBarChart")
      waterBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
          scales: {
            yAxes: [{
              ticks: { 
                beginAtZero: true
              }
            }]
          },
          animation: false
        }
      });
    }

    function updateLineChart(){
      let data_range = $('#sel1').val()
      if (data_range == 5) data_range = limiteMin
      else if (data_range == 10) data_range = limiteMax
      energyLineChart.data.labels = labels.slice(limiteMax - data_range, limiteMax)
      energyLineChart.data.datasets[0].data = energy_data.slice(limiteMax - data_range, limiteMax)
      energyLineChart.update()
    }

    function updateBarChart(){
      let data_range = $('#sel2').val()
      if (data_range == 5) data_range = limiteMin
      else if (data_range == 10) data_range = limiteMax
      waterBarChart.data.labels = labels.slice(limiteMax - data_range, limiteMax)
      waterBarChart.data.datasets[0].data = water_data.slice(limiteMax - data_range, limiteMax)
      waterBarChart.update()
    }

    function checkDetailedStats(parameter){
      query_params = "?type=" + type_selected_obj + "&id=" + id_selected_obj + "&param=" + parameter
      window.location.href = more_stats_url + query_params
    }

    $(document).ready(function (){
      setLineChart(energy_data_chart)
      setBarChart(water_data_chart)
      setButtons()
    })
  
  </script>

{% endblock javascripts %}