{% extends "app/base_site.html" %}


{% block title %} Crear Zona de Invernadero {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
 <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Zona Invernadero</h3>
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2>Crear Zona Invernadero<small></small></h2>
                   <div class="clearfix"></div>
            </div>


            <div class="x_content">

              <form id="idForm" class="form-horizontal form-label-left"  method="POST" novalidate>
                {% csrf_token %}

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="nombre" name="nombre" value="{{zona.nombre}}" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="" required="required" type="text">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigoZona">Código de Zona <span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="codigoZona" name="codigoZona" value="{{zona.codigozonajson}}" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label
                    class="control-label col-md-3 col-sm-3 col-xs-12" for="tipoZona">Tipo de Zona <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="tipoZona" name="tipoZona"  class="form-control" required>
                      <option value="-1" selected disabled>- Seleccione -</option>
                      {% for tipoZona in listaTipoZonas %}
                        <option value="{{tipoZona.idtipozona}}" {% if tipoZona.idtipozona == zona.idtipozona %}selected{% endif %}>{{tipoZona.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="area">Área (m<sup>2</sup>)<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="area" name="area" value="{{zona.area}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Temperatura Ideal (°C)<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="tempIdeal" name="tempIdeal" value="{{zona.temperaturaideal}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Temperatura Mínima (°C)<span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="tempMin" name="tempMin" value="{{zona.temperaturamin}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Temperatura Máxima (°C)<span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="tempMax" name="tempMax" value="{{zona.temperaturamax}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phIdeal">PH Ideal <span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="phIdeal" name="phIdeal" value="{{zona.phideal}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phMin">PH Mínimo <span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="phMin" name="phMin" value="{{zona.phmin}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phMax">PH Máximo <span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="phMax" name="phMax" value="{{zona.phmax}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>


                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Concentración de CO2 Ideal (%)<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="co2Ideal" name="co2Ideal" value="{{zona.concentracionco2ideal}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Concentración de CO2 Mínima (%)<span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="co2Min" name="co2Min" value="{{zona.concentracionco2min}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Concentración de CO2 Máxima (%)<span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input type="number" id="co2Max" name="co2Max" value="{{zona.concentracionco2max}}" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>


                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <center>
                    <button id="send" name="b_aceptar" type="submit" class="btn btn-success">Aceptar</button>
                    <button id="cancel" type="submit" class="btn btn-default">Cancelar</button>
                    </center>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

  <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    {% if mensajeError != None %}
        <script>
            new PNotify({
                                title: 'Error',
                                text: "{{mensajeError}}",
                                type: 'error',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}

      <script>
        $("#comboZona").on('change', function (e) {
              document.getElementById("textoBusqueda").value='' ;
              document.getElementById("idFormBuscar").submit();
        });
    </script>


{% endblock javascripts %}