{% extends "app/base_site.html" %}


{% block title %} Lista{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
 <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Zonas del Invernadero</h3>
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2>Búsqueda de Zonas<small></small></h2>
                   <div class="clearfix"></div>


            </div>

            <form class="form-horizontal form-label-left"  method="GET" novalidate>
                {% csrf_token %}
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" placeholder="Buscar Zona...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="b_buscar" name="b_buscar" type="submit" >Buscar</button>
                  </span>
                </div>
              </div>
            </div>
              </form>


            <div class="row">
                <div class="col-md-12">
                  <div class="x_panel">

                    <div class="x_title">
                        <h2>Lista de zonas<small>  </small></h2>
                        <form class="form-horizontal form-label-left"  method="POST" novalidate>
                        {% csrf_token %}
                            <button id="b_crear" name="b_crear" type="submit" class="btn btn-success" style="float:right">Crear Zona</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                      <div class="row">
                        {% for zona in listaZonas%}
                        <div class="col-md-55">
                          <div class="thumbnail">
                            <a href="{% url 'zonaInvernaderoDetalle' idZona=zona.idzona %}">
                            <div class="image view view-first">
                              <img style="height: 100%; width: 100%; display: block;" src="/static/images/zona2.png" alt="image" />
                              <div class="mask">
                                <p>{{zona.nombre}}</p>
                              </div>
                            </div>
                            </a>
                            <div class="caption">
                              <a href="{% url 'zonaInvernaderoDetalle' idZona=zona.idzona %}"><center><h3>{{zona.nombre}}</h3></center></a>
                            </div>
                          </div>
                        </div>

                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
            </div>


              <div class="x_panel">
                <div class="x_content">
                  <h2>Condiciones del Invernadero<small></small></h2>
                       <div class="clearfix"></div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h2>Nivel del tanque de agua</h2>
                            <div class="x_title"></div>
                            <center>
                                <h3>{{historia.niveltanqueagua}}</h3>
                            </center>


                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first" style="visibility:hidden;">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/water.png" />
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/water.png" />
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first" style="visibility:hidden;">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/water.png" />
                                    </div>
                                </center>
                            </div>

                            <center style="visibility:hidden;"><h2>sacha</h2></center>
                            <center><h2>Litros</h2></center>

                        </div>
                        <div class="col-md-6">
                            <h2>Nivel del tanque de agua</h2>
                            <div class="x_title"></div>
                            <center><h3>{{historia.nivelenergia}}</h3></center>

                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first" style="visibility:hidden;">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/thunder.png" />
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/thunder.png" />
                                    </div>
                                </center>
                            </div>
                            <div class="col-md-4">
                                <center>
                                    <div class="image view view-first" style="visibility:hidden;">
                                    <img class="img-responsive center-block" style="height: 100%; width: 100%; display: block;" src="/static/images/thunder.png" />
                                    </div>
                                </center>
                            </div>

                            <center style="visibility:hidden;"><h2>sacha</h2></center>
                            <center><h2>Watts</h2></center>


                        </div>
                    </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}