{% extends "app/base_site.html" %}


{% block title %} {% if editable %} Editar {% else %} Ver {% endif %} Zona del Invernadero{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}


  <div id="modalxd" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" >
<form class="form-horizontal form-label-left"  method="POST" novalidate>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Confirmación de Eliminación</h4>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea eliminar el panel?</p>
        </div>
        <div class="modal-footer">
            {% csrf_token %}
            <center>
              <button id="b_aceptar_modal" name="b_aceptar_modal" type="submit" class="btn btn-success" data-dismiss="modal">Aceptar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </center>
        </div>
      </div>
    </div>
</form>
  </div>



 <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Paneles de Luz</h3>
        </div>

      </div>
      <div class="clearfix"></div>

      {% if not editable %}
        {% if historiaPanel  %}
        <div class="x_panel">

          <div class="x_title">
            <h2>Condiciones Actuales (Registradas el {{historiaPanel.fecharegistro|date:"d/m/Y H:m:s"}})<small></small></h2>
                <ul class="nav navbar-right panel_toolbox" >
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
            <div class="clearfix"></div>
          </div>


          <div class="x_content">
              <form class="form-horizontal form-label-left">

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="luzActual">Luz<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input required="required" id="luzActual" value="{{historiaPanel.encendido}}"  {% if historiaPanel.encendido %} style="border-color: green; background-color: white;" {% else %} style="border-color: red; background-color: white;" {% endif %} data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12"   disabled >
                  </div>
                </div>


              </form>
          </div>
        </div>
        {% endif %}
      {% endif %}

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">

            <div class="x_title">
              <h2>Ver Panel de Luz<small></small></h2>
              <ul class="nav navbar-right panel_toolbox" >
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">

              <form class="form-horizontal form-label-left"  method="POST" novalidate>
                {% csrf_token %}

                <div class="item form-group">
                  <label
                    class="control-label col-md-3 col-sm-3 col-xs-12" for="zona">Zona <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="zona" name="zona"  class="form-control" required {% if not editable %} disabled {% endif %}>
                      <option value="-1" selected disabled>- Seleccione -</option>
                      {% for zona in listaZonas %}
                        <option value="{{zona.idzona}}" {% if zona.idzona == panel.idzona %}selected{% endif %}>{{zona.nombre}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigoPanel">Código de panel de luz <span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="codigoPanel" name="codigoPanel"  value ="{{panel.codigopaneljson}}" required="required" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>


                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <center>
                    {% if editable %}
                      <button id="b_aceptar" name="b_aceptar" type="submit" class="btn btn-success">Aceptar</button>
                      <button id="b_cancelar" name="b_cancelar" type="submit" class="btn btn-default">Cancelar</button>
                    {% else %}
                       <button id="b_editar" name="b_editar" type="submit" class="btn btn-success">Editar</button>
                       <button id="b_regresar" name="b_regresar" type="submit" class="btn btn-default">Regresar</button>
                    {% endif %}
                    <button id="b_eliminar" name="b_eliminar"  type="button" class="btn btn-danger" style="float:right">Eliminar</button>
                    </center>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}
  {{ block.super }}

  <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    {% if mensajeError != None %}
        <script>
            new PNotify({
                                title: 'Error',
                                text: "{{mensajeError}}",
                                type: 'error',
                                styling: 'bootstrap3'
                            });
        </script>
    {% endif %}

  {% if mostrarModalEditar %}
    <script>
      new PNotify({
          title: 'Edición Exitosa',
          text: 'Se editó el panel de luz satisfactoriamente.',
          type: 'success',
          styling: 'bootstrap3'
      });
    </script>
  {% endif %}
  <script>
    function activate_modal() {
      $("#modalxd").modal()
    }

    document.getElementById("b_eliminar").addEventListener("click", activate_modal);
  </script>


  <script>

  function deletO(){
    document.getElementById("b_aceptar_modal").click();
    }

  document.getElementById("b_aceptar_modal").addEventListener("click", deletO);
  </script>
{% endblock javascripts %}