{% extends "app/base_site.html" %}


{% block title %} {% if editable %} Editar {% else %} Ver {% endif %} Usuario{% endblock title %}

{% block stylesheets %}
 {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div id="modalxd" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Error</h4>
      </div>
      <div class="modal-body">
        <p>Los datos ingresados no son válidos.</p>
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button></center>
      </div>

    </div>
  </div>
</div>

<div class="right_col" role="main">
   <div class="">
     <div class="page-title">
       <div class="title_left">
         <h3>Usuario</h3>
       </div>

     </div>
     <div class="clearfix"></div>

     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="x_panel">

           <div class="x_title">
             <h2>{% if editable %} Editar {% else %} Ver {% endif %} Usuario<small></small></h2>
                  <div class="clearfix"></div>
           </div>


           <div class="x_content">

             <form id="nuevoUsuario" class="form-horizontal form-label-left" method="POST">
                                                                {% csrf_token %}

               <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombres <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="nombre" class="form-control col-md-7 col-xs-12" name="nombre" type="text" value="{{ usuario.nombres }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apepato">Apellido Paterno <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="apepato" class="form-control col-md-7 col-xs-12" name="apepato" type="text" value="{{ usuario.apellidopaterno }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apemato">Apellido Materno <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="apemato" class="form-control col-md-7 col-xs-12" name="apemato" type="text" value="{{ usuario.apellidomaterno }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Sexo <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label class="radio-inline">
					<input type="radio" name="sexo" id="sexom" value="M" {% if usuario.sexo == 'M' %} checked {% endif %} {% if not editable %} disabled {% endif %}> Masculino</label>
					<div class="visible-lg-inline visible-md-inline visible-sm-inline">&emsp;</div>&emsp;
					<label class="radio-inline">
					<input type="radio" name="sexo" id="sexof" value="F" {% if usuario.sexo == 'F' %} checked {% endif %} {% if not editable %} disabled {% endif %}> Femenino </label>
                  </div>
                </div>
               <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fechanac">Fecha de Nacimiento <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="fechanac" name="fechanac" type="text" class="form-control" data-inputmask="'mask': '99/99/9999'" value="{{ fechaFormateada }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombreUsuario">Nombre de Usuario <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="nombreUsuario" class="form-control col-md-7 col-xs-12" name="nombreUsuario" type="text" value="{{ usuario.nombreusuario }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contrasena">Contraseña <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="contrasena" type="password" name="contrasena" data-validate-length="6,8" class="form-control col-md-7 col-xs-12" value="{{ usuario.contrasena }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contrasena2">Confirmar Contraseña <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="contrasena2" type="password" name="contrasena2" value="{{ usuario.contrasena }}" data-validate-linked="password" class="form-control col-md-7 col-xs-12"  {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
			   <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="correo">Correo <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="correo" type="email" class="form-control col-md-7 col-xs-12" name="correo" type="text" value="{{ usuario.correo }}" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Rol *</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id = "rol" class="form-control" name="rol"  {% if not editable %} disabled {% endif %}>
                      <option value="-1" selected disabled>- Seleccione -</option>
                      {% for rol in listaRoles %}
                      <option value="{{rol.idrol}}" {% if usuario.idrol == rol.idrol %} selected {% endif %}>{{rol.nombrerol}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Invernaderos</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="select2_multiple form-control" multiple="multiple"  {% if not editable %} disabled {% endif %}>
                    {% for invernadero in listaInvernaderos %}
                      <option value = "{{invernadero.idinvernadero}}" {% if invernadero.idinvernadero in listaInvernaderosUsuario %} selected {% endif %}>{{invernadero.nombre}}</option>
                    {% endfor %}
                    </select>
                  </div>
                </div>
               <div class="ln_solid"></div>
               <div class="form-group">
                 <div class="col-xs-12">
				 <center>
                   {% if editable %}
                        <button id="send" name="b_aceptar" type="button" class="btn btn-success" onclick="validarContrasenasYRol()">Aceptar</button>
                        <a href="/usuario/{{ usuario.idusuario }}"><button id="cancel" name="b_cancelar" type="button" class="btn btn-default">Cancelar</button></a>   
                   {% else %}
                        <button id="edit" name="b_editar" type="submit" class="btn btn-success">Editar</button>
                        <a href="/usuario/"><button id="cancel" name="b_cancelar" type="button" class="btn btn-default">Regresar</button></a>                   
                   {% endif %}
                    <button id="b_eliminar" name="b_eliminar" type="submit" class="btn btn-danger" style="float:right">Eliminar</button>
                   
				  </center>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock content %}

{% block javascripts %}
 {{ block.super }}
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>
  <script>
  function validarContrasenasYRol() {
    if (document.getElementById("nuevoUsuario").checkValidity()){
        if (document.getElementById("nombre").value == '' || document.getElementById("apepato").value == '' || document.getElementById("apemato").value == '') {
           mostrarModal('Debe ingresar el nombre completo del usuario.');
           return;
        }
        fechaNacimiento = document.getElementById("fechanac").value;
        if (fechaNacimiento == '') {
           mostrarModal('Debe ingresar la fecha de nacimiento del usuario.');
           return;
        }
        if (!validarFecha(fechaNacimiento)) {
            mostrarModal('La fecha de nacimiento ingresada no es válida.');
           return;
        }
        if (document.getElementById("nombreUsuario").value == '') {
           mostrarModal('Debe ingresar un nombre de usuario para el usuario.');
           return;
        }
        if (document.getElementById("contrasena").value == '') {
           mostrarModal('Debe ingresar una contraseña para el usuario.');
           return;
        }
        if (document.getElementById("contrasena").value != document.getElementById("contrasena2").value) {
            mostrarModal('Las contraseñas deben coincidir.');
            return;
        }
        if (document.getElementById("correo").value == '') {
           mostrarModal('Debe ingresar el correo del usuario.');
           return;
        }
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (re.test(document.getElementById("correo"))) {
           mostrarModal('El correo ingresado no es válido');
           return;
        }
        if (document.getElementById("rol").value == -1) {
           mostrarModal('Debe seleccionar un rol para el usuario.');
           return;
        } 
       document.getElementById("nuevoUsuario").submit();
       return;        
    }
  }
  </script>
  <script>
  function mostrarModal(cadena) {
    $('#modalxd').find('.modal-body p').text(cadena);
    $("#modalxd").modal()
  }
  </script>
  <script>
  function validarFecha(dateString) {
    // Parse the date parts to integers
    var parts = dateString.split("/");
    var day = parseInt(parts[0], 10);
    var month = parseInt(parts[1], 10);
    var year = parseInt(parts[2], 10);

    // Check the ranges of month and year
    if(year < 1900 || year > (new Date()).getFullYear() || month == 0 || month > 12)
        return false;

    var monthLength = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31 ];

    // Adjust for leap years
    if(year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
        monthLength[1] = 29;

    // Check the range of the day
    return day > 0 && day <= monthLength[month - 1];
  }
  </script>
  {% if mostrarModalEditar %}
  <script>
    new PNotify({
        title: 'Edición Exitosa',
        text: 'Se editó el usuario satisfactoriamente.',
        type: 'success',
        styling: 'bootstrap3'
    });
  </script>
  {% endif %}
{% endblock javascripts %}

