{% extends "app/base_site.html" %}


{% block title %} {% if editable %} Editar {% else %} Ver {% endif %} Invernadero {% endblock title %}

{% block stylesheets %}
 {{ block.super }}
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div id="modalxd" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" >
<form class="form-horizontal form-label-left"  method="POST" novalidate>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel2">Confirmación de Eliminación</h4>
        </div>
        <div class="modal-body">
          <p>¿Está seguro que desea eliminar el invernadero?</p>
        </div>
        <div class="modal-footer">
            {% csrf_token %}
            <center>
              <button id="b_aceptar_modal" name="b_aceptar_modal" type="submit" class="btn btn-success" data-dismiss="modal">Aceptar</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </center>

        </div>

      </div>
    </div>
</form>
  </div>

<div class="right_col" role="main">
   <div class="">
     <div class="page-title">
       <div class="title_left">
         <h3>Invernaderos</h3>
       </div>

     </div>
     <div class="clearfix"></div>
      {% if not editable %}
      {% if historiaInv %}
        <div class="x_panel">

          <div class="x_title">
            <h2>Condiciones Actuales (Registradas el {{historiaInv.fecharegistro|date:"d/m/Y H:i:s"}})<small></small></h2>
                <ul class="nav navbar-right panel_toolbox" >
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
            <div class="clearfix"></div>
          </div>


          <div class="x_content">
              <form class="form-horizontal form-label-left">
              {% if historiaInv.nivelenergia %}
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Nivel de Energía<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input required="required" id="temperaturaActual" value="{{historiaInv.nivelenergia}}"  {% if energiaok %} style="border-color: green; background-color: white;" {% else %} style="border-color: red; background-color: white;" {% endif %} data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12"  disabled >
                  </div>
                </div>
                {% endif %}
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">Nivel del Tanque de Agua<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input required="required" id="phActual" value="{{historiaInv.niveltanqueagua}}"  {% if aguaok %} style="border-color: green; background-color: white;" {% else %} style="border-color: red; background-color: white;" {% endif %} data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12"   disabled >
                  </div>
                </div>                
              {% if historiaInv.phagua %}
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tempIdeal">pH del Agua<span class="required"></span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input required="required" id="phaguaActual" value="{{historiaInv.phagua}}"  {% if phaguaok %} style="border-color: green; background-color: white;" {% else %} style="border-color: red; background-color: white;" {% endif %} data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12"  disabled >
                  </div>
                </div>
                {% endif %}
              </form>
          </div>
        </div>
        {% else %}<div class="x_panel">

          <div class="x_title">
            <h2>Condiciones Actuales<small></small></h2>
                <ul class="nav navbar-right panel_toolbox" >
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
                        <center><h2>No hay información que mostrar.</h2></center>
          </div>
        </div>
        {% endif %}
        {% endif %}
     <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="x_panel">

           <div class="x_title">
             <h2>{% if editable %} Editar {% else %} Ver {% endif %} Invernadero<small></small></h2>
                  <div class="clearfix"></div>
           </div>


           <div class="x_content">

             <form id="nuevoInvernadero" class="form-horizontal form-label-left" method="POST">
                                                                {% csrf_token %}

               <div class="item form-group">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
                 </label>
                 <div class="col-md-6 col-sm-6 col-xs-12">
                   <input id="nombre" class="form-control col-md-7 col-xs-12" name="nombre" value="{{inv.nombre}}" type="text" {% if not editable %} disabled {% endif %}>
                 </div>
               </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="codigoInv">Código de Invernadero <span class="required">*</span>
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="codigoInv" name="codigoInv" value="{{inv.codigoinvernaderojson}}" class="form-control col-md-7 col-xs-12"  {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Administrador *</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id = "admin" class="form-control" name="admin" {% if not editable %} disabled {% endif %}>
                      <option value="-1" {% if  inv.idadmin  == -1 %} selected {% endif %} disabled>- Seleccione -</option>
                      {% for usuario in listaUsuarios %}
                      <option value="{{usuario.idusuario}}" {% if inv.idadmin == usuario.idusuario %} selected {% endif %} >{{usuario.nombres}} {{usuario.apellidopaterno}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="area">Área (m<sup>2</sup>)
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="area" name="area" value="{{inv.area}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aguaIdeal">Nivel Ideal del Tanque de Agua (Litros) 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="aguaIdeal" name="aguaIdeal" value="{{inv.niveltanqueaguaideal}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aguaMin">Nivel Mínimo del Tanque de Agua (Litros)* 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="aguaMin" name="aguaMin" value="{{inv.niveltanqueaguamin}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="aguaMax">Nivel Máximo del Tanque de Agua (Litros)*
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="aguaMax" name="aguaMax" value="{{inv.niveltanqueaguamax}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="energiaIdeal">Nivel Ideal de Energía (Watts) 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="energiaIdeal" name="energiaIdeal" value="{{inv.nivelenergiaideal}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="energiaMin">Nivel Mínimo de Energía (Watts)* 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="energiaMin" name="energiaMin" value="{{inv.nivelenergiamin}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="energiaMax">Nivel Máximo de Energía (Watts)*
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="energiaMax" name="energiaMax" value="{{inv.nivelenergiamax}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phaguaideal">Nivel Ideal de pH del Agua 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="phaguaideal" name="phaguaideal" value="{{inv.phaguaideal}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phaguamin">Nivel Mínimo de pH del Agua 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="phaguamin" name="phaguamin" value="{{inv.phaguamin}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phaguamax">Nivel Máximo de pH del Agua 
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="phaguamax" name="phaguamax" value="{{inv.phaguamax}}" class="form-control col-md-7 col-xs-12" {% if not editable %} disabled {% endif %}>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="latitud">Latitud
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="latitud" name="latitud" value="{{inv.latitud}}" class="form-control col-md-7 col-xs-12" readonly>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="longitud">Longitud
                  </label>
                  <div class="col-md-2 col-sm-2 col-xs-6">
                    <input  type="number" id="longitud" name="longitud" value="{{inv.longitud}}" class="form-control col-md-7 col-xs-12" readonly>
                  </div>
                </div>
                <br>
                <center><div id="mapid" style="height:540px; width:90%;"></div></center>
               <div class="ln_solid"></div>
               <div class="form-group">
                 <div class="col-xs-12">
				 <center>
                   {% if editable %}
                        <button id="send" name="b_aceptar" type="button" class="btn btn-success" onclick="validar()">Aceptar</button>
                        <a href="/inv/{{ inv.idinvernadero }}"><button id="cancel" name="b_cancelar" type="button" class="btn btn-default">Cancelar</button></a>   
                   {% else %}
                        <button id="edit" name="b_editar" type="submit" class="btn btn-success">Editar</button>
                        <a href="/inv/"><button id="cancel" name="b_cancelar" type="button" class="btn btn-default">Regresar</button></a>                   
                   {% endif %}
                    <button id="b_eliminar" name="b_eliminar"  type="button" class="btn btn-danger" style="float:right">Eliminar</button>
                   
				  </center>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock content %}

{% block javascripts %}
 {{ block.super }}
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>
  <script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>
  <script>
    var defaultLat = {{inv.latitud}};
    var defaultLng = {{inv.longitud}};
    {% if not editable %}
        map = new L.Map('mapid', {closePopupOnClick: false, dragging: false, zoomControl: false, boxZoom: false, doubleClickZoom: false, touchZoom:false, scrollWheelZoom: false});
    {% else %}
        map = new L.Map('mapid');
    {% endif %}
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {maxZoom: 17, attribution: osmAttrib});
	map.setView(new L.LatLng(defaultLat, defaultLng),16); //-12.416667, -76.783333
	map.addLayer(osm);
    var marker = L.marker([defaultLat, defaultLng]).addTo(map);
    {% if editable %}
        map.on('click', function(e) {
            coords = L.latLng(e.latlng.lat.toFixed(5), e.latlng.lng.toFixed(5));
            marker.setLatLng(coords);
            document.getElementById("latitud").value = coords.lat;
            document.getElementById("longitud").value = coords.lng;
        });
    {% endif %}
  </script>
  <script>
  function activate_modal() {
     $("#modalxd").modal()
  }
  document.getElementById("b_eliminar").addEventListener("click", activate_modal);
  </script>
  <script>
  function deletO(){
     document.getElementById("b_aceptar_modal").click();
  }
  document.getElementById("b_aceptar_modal").addEventListener("click", deletO);
  </script>
  <script>
  function isInt(value) {
  return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}
  function validar() {
        if (document.getElementById("nombre").value == '') {
            mostrarModal('Debe ingresar un nombre para el invernadero.');
            return;
        }
        var codigoInv = document.getElementById("codigoInv").value;
        if (codigoInv == '') {
            mostrarModal('Debe ingresar el código de identificación del invernadero.');
            return;
        }
        if (!isInt(codigoInv)){
            mostrarModal('El código de invernadero debe ser un número entero.');
            return;
        }
        if (document.getElementById("admin").value == -1) {
            mostrarModal('Debe ingresar un administrador para el invernadero.');
            return;
        }
        aguaMin = Number(document.getElementById("aguaMin").value);
        aguaMax = Number(document.getElementById("aguaMax").value);
        aguaIdeal = Number(document.getElementById("aguaIdeal").value);
        if (aguaMin == '' || aguaMax == '') {
            mostrarModal('Debe ingresar los valores para el mínimo y el máximo del nivel de tanque de agua.');
            return;
        }
        if (aguaIdeal == '') {
            if (!(aguaMin <= aguaMax)) {
                mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de tanque de agua no son válidos.');
                return;     
            }
        } else if (!(aguaMin <= aguaIdeal && aguaIdeal <= aguaMax)) {
            mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de tanque de agua no son válidos.');
            return;        
        }
        energiaMin = Number(document.getElementById("energiaMin").value);
        energiaMax = Number(document.getElementById("energiaMax").value);
        energiaIdeal = Number(document.getElementById("energiaIdeal").value);
        if (energiaMin == '' || energiaMax == '') {
            mostrarModal('Debe ingresar los valores para el mínimo y el máximo del nivel de energía.');
            return;
        }
        if (energiaIdeal == '') {
            if (!(energiaMin <= energiaMax)) {
                mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de energía no son válidos.');
                return;        
            }
        } else if (!(energiaMin <= energiaIdeal && energiaIdeal <= energiaMax)) {
            mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de energía no son válidos.');
            return;        
        }
        phaguaMin = Number(document.getElementById("phaguamin").value);
        phaguaMax = Number(document.getElementById("phaguamax").value);
        phaguaIdeal = Number(document.getElementById("phaguaideal").value);
        if (phaguaMin == '' || phaguaMax == '') {
            mostrarModal('Debe ingresar los valores para el mínimo y el máximo del nivel de pH del agua.');
            return;
        }
        if (phaguaIdeal == '') {
            if (!(phaguaMin <= phaguaMax)) {
                mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de pH del agua no son válidos.');
                return;        
            }
        } else if (!(phaguaMin <= phaguaIdeal && phaguaIdeal <= phaguaMax)) {
            mostrarModal('Los valores para el mínimo, ideal y máximo del nivel de pH del agua no son válidos.');
            return;        
        }
        if (document.getElementById("area").value < 0) {
            mostrarModal('Debe ingresar un valor válido para el área');
            return;
        }
        if (aguaMin < 0 || aguaIdeal < 0 || aguaMax < 0) {
            mostrarModal('No puede ingresar valores negativos para el mínimo, ideal y máximo del nivel de tanque de agua.');
            return;            
        }
        if (phaguaMin < 0 || phaguaIdeal < 0 || phaguaMax < 0) {
            mostrarModal('No puede ingresar valores negativos para el mínimo, ideal y máximo del nivel de pH del agua.');
            return;            
        }
        if (energiaMin < 0 || energiaIdeal < 0 || energiaMax < 0) {
            mostrarModal('No puede ingresar valores negativos para el mínimo, ideal y máximo del nivel de energía.');
            return;            
        }
       document.getElementById("nuevoInvernadero").submit();
       return;        
    }
  
  </script>
  <script>
  function mostrarModal(cadena) {
    new PNotify({
        title: 'Error',
        text: cadena,
        type: 'error',
        styling: 'bootstrap3'
    });
  }
  </script>
  {% if mostrarModalEditar %}
  <script>
    new PNotify({
        title: 'Edición Exitosa',
        text: 'Se editó el invernadero satisfactoriamente.',
        type: 'success',
        styling: 'bootstrap3'
    });
  </script>
  {% endif %}
  {% if mensajeError != None %}
  <script>
  mostrarModal("{{mensajeError}}");
  </script>
  {% endif %}
  {% if mostrarModalEliminarFallo %}
  <script>
  mostrarModal("No puede eliminar el invernadero activo.");
  </script>
  {% endif %}
  {% if mostrarModalEliminarFallo2 %}
  <script>
  mostrarModal("No se puede eliminar el invernadero porque aún hay zonas asociadas a dicho invernadero.");
  </script>
  {% endif %}
  {% if mostrarModalEliminarFallo3 %}
  <script>
  mostrarModal("No se puede eliminar el invernadero porque aún hay usuarios asociados a dicho invernadero.");
  </script>
  {% endif %}
{% endblock javascripts %}


